main {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(18, 16, 44);
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

h2 {
    font-weight: lighter;
    letter-spacing: 3px;
}

h1 {
    font-size: 3.2em;
    margin: 2vh;
}

p {
    color: rgb(31, 33, 61);
    font-size: 1.2em;
    font-weight: lighter;
    max-width: 800px;
    margin: 4vh;
}

input {
    padding: 14px 0px 14px 0px;
    text-align: center;
    border-radius: 5px;
    border: none; outline: none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.678);
    margin-top: 1vh;
    margin-right: 10px;
}

a :hover  {
    background-color: rgb(18, 16, 44);
    color: white;
    transition: 0.3s;
}

@media (min-width: 900px) {    
    p {
        font-size: 1.2em;
    }

    input {
        font-size: 16px;
        padding: 18px 0 18px 0;
    }
}

@media (max-width: 900px) {
    p {
        font-size: 1.3em;
    }

    input {
        font-size: 16px;
        padding: 18px 0 18px 0;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 1.4em;
    }

    h1 {
        font-size: 2.3em;
    }

    p {
        font-size: 1.2em;
    }

    input {
        font-size: 14px;
        padding: 15px 0 15px 0;
    }
}

@media (max-width: 520px) {
    h2 {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    input {
        font-size: 12px;
        padding: 12px 0 12px 0;
    }
}