* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    height: 12vh;
    justify-content: space-between;
    padding: 4vh;
    height: 13vh;
    text-align: center;
    background-color: white;
}

.logo {
    margin-top: -15px;
    margin-left: 3vh;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 8px;
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid white;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    border-top: 1px solid black;
}


.user-pleace img {
    margin-left: 10px;
    cursor: pointer;
}

main {
    background-color: rgba(255, 255, 255, 0.226);
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    width: 150vh;
    height: 104vh;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topo {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2vh;
    padding-right: 2vh;
}

h1 {
    text-align: center;
    margin: auto;
}

form {
    margin-right: 15px;
}

input {
    border-radius: 15vh;
    height: 5vh;
    width: 35vh;
    padding-left: 15px;
    border: none;
    outline: none;
}

.icon-search {
    margin-left: -4.5vh;
    margin-bottom: -0.5vh;
    position: relative;
    cursor: pointer;
}

.topicos {
    padding: 4vh;
}

h2 {
    margin-bottom: 1vh;
    margin-top: 3vh;
}